.home-body{
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.intro-section{
    padding-right: 40px;
}

h1{
    font-size: 3rem;
    color: #0d6efd;
    margin-bottom: 20px;
}

p{
    font-size: 1.2rem;
    color: #333;
}
.tools-section{
   
    margin-top: 50px;
    border-radius: 8px;
}

/* Grid para herramientas */

.tools-grid{
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}