body {
    padding-top: 0px;
}

.navbar {
    margin: 5px 20px;
    border-radius: 10px;
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
}

.fontnav {
    font-family: "Titan One", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #ffffff;
}