/* Ocupa toda la pantalla */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
.app-container {
  height: 100vh;
  background: linear-gradient(135deg, #eef2f3, #d9e4f5);
  display: flex;
}


.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

.custom-card {
  border-radius: 20px;
  background: white;
  height: 100%;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}


.custom-textarea {
  border-radius: 15px;
  resize: none;
  transition: all 0.3s ease;
}

.custom-textarea:focus {
  box-shadow: 0 0 2px 4px rgba(91, 153, 245, 0.555);
  border-color: #6498e6;
}


.stat-box {
  text-align: center;
  margin-bottom: 20px;
}
.input-number {
  max-width: 300px;
}
.custom-input-group{
  box-shadow:  0 5px 9px rgba(0, 0, 0, 0.233);
  border-radius: 20px;
  padding: 10px;
}
.stat-box h2 {
  font-weight: bold;
  font-size: 80px;
  color: #0d6efd;
}
.stat-box p {
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.content-buttons {
  padding: 10px;
  margin: 10px;
}
.copy-message {
  position: absolute;
  z-index: 1000;
  margin-top: -80px;
  margin-left: 100px;
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  text-align: right;
  animation: fadeInOut 0.3s ease-in-out;
}
.btn-caracters {
  font-weight: 500;
  background-color: #00378a;
  color: white;
}
.button-generate {
  font-weight: 500;
  background-color: #190086;
  color: white;
}
.button-generate1 {
  font-weight: 500;
  background-color: #0028d8;
  color: white;
}
.button-generate:hover {
  background-color: #000744;
  color: white;
}
.button-generate1:hover {
  background-color: #1400c5;
  color: white;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .copy-message {
    margin-top: -110px;
    margin-left: 30px;
  
  }
}
