# Archivo de ejemplo para configuración del Frontend
# Si ejecutas el backend localmente:
VITE_API_URL=http://localhost:3000

# Si tu empresa tiene el backend desplegado en su propia infraestructura:
# VITE_API_URL=https://qa-backend.tu-empresa.com
